<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include cabecera.ejs %>
   

    <h2><%= __('Advertisements Aviable') %></h2>
    <% anuncios.forEach(anuncio => { %>
      <p><%= __('Name') %>: <%= anuncio.nombre %></p> 
       <p><%= __('Sale Price') %>: <%= anuncio.precio %> € </p>
       <p><%= __('Aviable') %> : <%= anuncio.venta %></p>
       <p><%= __('Photography') %>: <img class = 'image' src="../images/<%= anuncio.foto %>"/></p>
       
       
    <% }) %>
  </body>
</html>

