<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/cabecera.css' />

  </head>
  <body>
    <% include cabecera.ejs %>
   
  <h2><%= __('Advertisements Available') %></h2>
  
  <ul class="ad-list">
    <% anuncios.forEach(anuncio => { %>
      <li class="ad-item">
        <div class="ad-image">
          <img src="../images/<%= anuncio.foto %>" alt="Ad Image">
        </div>
        <div class="ad-details">
          <h3 class="ad-title"><%= __('Name') %>: <%= anuncio.nombre %></h3>
          <p class="ad-price"><%= __('Sale Price') %>: <%= anuncio.precio %> €</p>
          <p class="ad-availability"><%= __('Availability') %>: <%= anuncio.venta %></p>
          <p class="ad-image"><%= __('Photography') %></p>
         
        </div>
      </li>
    <% }) %>
  </ul>
</body>
</html>